<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda-guest">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recruitment">
      <ion-icon name="duplicate-outline"></ion-icon>
      <ion-label>Recruitment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
