
<ion-content>
  <iframe
      style="min-width: 100%; min-height: 30%;"
             className="embed-responsive-item"
             src="https://www.youtube.com/embed/?autoplay=1&mute=1&loop=1&playlist=xXbGYCi5XHI"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>

     <div class="div2">
    <ion-label class="terbaru-title">
      Terbaru
      <div class="terbaru-border"></div>
    </ion-label>
  </div>

    <div class="div1">
    <ion-label class="rekomendasi-title">
      Rekomendasi
      <div class="rekomendasi-border"></div>
    </ion-label>
  </div>

  <ion-card class="data-card">
    <div class="data-img-wrapper">
      <iframe
    style="margin-left: 4px;"
           className="embed-responsive-item"
           src="https://www.youtube.com/embed/?autoplay=1&mute=1&loop=1&playlist=xXbGYCi5XHI"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    ></iframe>
    </div>
    <ion-card-content>
      <p class="data-text-title">Lorem Ipsum is simply</p>
      <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="data-card">
    <div class="data-img-wrapper">
      <iframe
      style="margin-left: 4px;"
             className="embed-responsive-item"
             src="https://www.youtube.com/embed/?autoplay=1&mute=1&loop=1&playlist=xXbGYCi5XHI"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <ion-card-content>
      <p class="data-text-title">Lorem Ipsum is simply</p>
      <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="data-card">
    <div class="data-img-wrapper">
      <iframe
    style="margin-left: 4px;"
           className="embed-responsive-item"
           src="https://www.youtube.com/embed/?autoplay=1&mute=1&loop=1&playlist=xXbGYCi5XHI"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    ></iframe>
    </div>
    <ion-card-content>
      <p class="data-text-title">Lorem Ipsum is simply</p>
      <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="data-card">
    <div class="data-img-wrapper">
      <iframe
    style="margin-left: 4px;"
           className="embed-responsive-item"
           src="https://www.youtube.com/embed/?autoplay=1&mute=1&loop=1&playlist=xXbGYCi5XHI"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    ></iframe>
    </div>
    <ion-card-content>
      <p class="data-text-title">Lorem Ipsum is simply</p>
      <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-card-content>
  </ion-card>


  </ion-content>
