ion-icon{
    color: white;
  }
  
  ion-content{
    z-index: 10;
    position: absolute;
    --background: rgba(1, 1, 1, 0);
  }
  
  .navigation {
    --color: white;
    text-transform: capitalize;
    margin-left: 50%;
    margin-right: 0%;
  }
  

.header-section {
  --background: linear-gradient(to bottom left, #039be5, #81d4fa);
  padding-bottom: 20%;
  padding-top: 0%;
  z-index: 1; 
  border-radius: 0px 0px 30px 30px;
}

.content-section-toolbar{
  margin-top: 20%;
  background-color: white;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50px 50px 0px 0px;
}

.img-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.text-main{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
}

.card-title{
  font-size: 16px;
  margin-left: 0%;
  margin-right: 0%;
  text-align: left;
  font-weight: bold;
}

.card.subtitle{
  font-size: 14px;
  margin-left: 0%;
  margin-right: 0%;
  text-align: left;
}

.img-privasi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.img-keamananakun{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.img-apps{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%
}