<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button  class="navigation" href="/">Syarat & Ketentuan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-toolbar class="content-section-toolbar">
    <img src="assets/logo/logo.png" class="img-logo">
    <br>
    <img src="assets/images/syaratketentuan/data7.jpg" class="img-dashboard">


  </ion-toolbar>


</ion-content>
