<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-buttons slot="start">
      <ion-button  class="navigation" href="/">Syarat & Ketentuan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-toolbar class="content-section-toolbar">
    <img src="assets/logo/logo.png" class="img-logo">
    <h1 class="text-main"> Fitur untuk membantu Anda mengontrol privasi dan kemanan Anda di Tajuk Plus</h1>

    <ion-card>
    <img src="assets/images/syaratketentuan/data8.jpg" class="img-privasi">
    <ion-card-header>
      <ion-card-title class="card-title">Privasi</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Kendalikan siapa yang melihat apa yang anda bagikan di Tajuk Plus, dan kelola data yang membantu kami mempersonalisai privasi Anda</ion-card-subtitle>
    </ion-card-header>
    </ion-card> <br> <br>

    <ion-card>
      <img src="assets/images/syaratketentuan/data9.jpg" class="img-keamananakun">
    <ion-card-header>
      <ion-card-title class="card-title">Keamanan Akun</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Pelajari cara kerja Aplikasi Tajuk Plus dan bagaimana aplikasi melakukan interaksi dengan user yang anda lihat dan lebih relevan</ion-card-subtitle>
    </ion-card-header>
    </ion-card> <br> <br>

    <ion-card>
      <img src="assets/images/syaratketentuan/data10.jpg" class="img-apps">
    <ion-card-header>
      <ion-card-title class="card-title"> Informasi Tajuk Plus Anda</ion-card-title>
      <ion-card-subtitle class="card-subtitle"> Lihat video terbaru / terupdate, informasi berita terbaru / terupdate dan info lowongan kerja Anda Kapan Saja.</ion-card-subtitle>
     </ion-card-header>
    </ion-card>



  </ion-toolbar>
</ion-content>
