p {
  margin-left: 20px;
}

ion-icon {
  color: black;
}

.navigation {
  --color: black;
  text-transform: capitalize;
}

ion-toggle{
  
  --handle-background: grey;
  --handle-background-checked: #4db6ac;
  --handle-box-shadow: 94px 94px 134px 134px #4db6ac;
  
}

