<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <h1>tajuk +</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card class="profil-user">
     <ion-grid>
        <ion-row>
              <ion-col class="img-user">
                  <img src="assets/icon/profile.png"/>
              </ion-col>
              <ion-col class="data-user">
                <ion-row>
                  <ion-label class="name-user">John Doe</ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="email-user">johndoe@gmail.com</ion-label>
                </ion-row>
              <ion-row>
                  <ion-label class="phone-user">+6281224847827</ion-label>
              </ion-row>
              </ion-col>
              <ion-col class="status-user-profil">
                  <ion-label class="status-user"> Staff</ion-label>
              </ion-col>
            </ion-row>
     </ion-grid>
   </ion-card>

   <ion-card class="info">
     <ion-grid>
       <ion-row>
         <ion-col>
            <ion-icon name="information" class="info-class"></ion-icon>
            <ion-label class="title">Informasi</ion-label>
            <ion-label class="description">Lorem ipsum is simply dummy text of the printinig and typesetting industry</ion-label>
            <ion-icon name="information-data" class="info-data"></ion-icon>
         </ion-col>
       </ion-row>
     </ion-grid>
   </ion-card>

   <ion-grid class="icon-wrapper">
     <div class="container">
     <ion-row>
       <ion-col>
          <ion-button fill="clear" class="btn_info">
            <ion-icon src="assets/icon/video.svg"class="data-icon-video"></ion-icon>
            <ion-label class="label">video</ion-label>
          </ion-button>
       </ion-col>
       <ion-col>
          <ion-button fill="clear" class="btn_info">
            <ion-icon src="assets/icon/news.svg" class="data-icon-news"></ion-icon>
            <ion-label class="label">news</ion-label>
          </ion-button>
       </ion-col>
       <ion-col>
        <ion-button fill="clear" class="btn_info">
          <ion-icon src="assets/icon/chat.svg" class="data-icon-chat"></ion-icon>
          <ion-label class="label">chat </ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
          <ion-button fill="clear" class="btn_info">
          <ion-icon src="assets/icon/transfer.svg" class="data-icon-transfer"></ion-icon>
          <ion-label class="label">transfer</ion-label>
          </ion-button>
      </ion-col>
     </ion-row>
    </div>
   </ion-grid>

    <ion-label class="berita-terbaru-title">
      Berita Tebraru
      <div class="berita-terbaru-border"></div>
    </ion-label>

    <ion-segment scrollable class="tag-wrapper">
      <ion-button  outline color="tertiary" tab="1" class="tag-btn">lorem</ion-button>
      <ion-button outline color="tertiary" tab="2" class="tag-btn">ipsum</ion-button>
      <ion-button outline color="tertiary" tab="3" class="tag-btn">#simply</ion-button>
      <ion-button outline color="tertiary" tab="4" class="tag-btn">lorem</ion-button>
      <ion-button outline color="tertiary" tab="5" class="tag-btn">ipsum</ion-button>
      <ion-button outline color="tertiary" tab="6" class="tag-btn">#simply</ion-button>
      <ion-button outline color="tertiary" tab="7" class="tag-btn">lorem</ion-button>
      <ion-button outline color="tertiary" tab="8" class="tag-btn">ipsum</ion-button>
      <ion-button outline color="tertiary" tab="9" class="tag-btn">#simply</ion-button>
    </ion-segment>

    <ion-card class="data-card">
      <div class="data-img-wrapper">
        <img src="assets/icon/kota.jpg" class="data-img">
      </div>
      <ion-card-content>
        <p class="data-text-title">Lorem Ipsum is simply</p>
        <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="data-card">
      <div class="data-img-wrapper">
        <img src="assets/icon/kota.jpg" class="data-img">
      </div>
      <ion-card-content>
        <p class="data-text-title">Lorem Ipsum is simply</p>
        <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="data-card">
      <div class="data-img-wrapper">
        <img src="assets/icon/kota.jpg" class="data-img">
      </div>
      <ion-card-content>
        <p class="data-text-title">Lorem Ipsum is simply</p>
        <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="data-card">
      <div class="data-img-wrapper">
        <img src="assets/icon/kota.jpg" class="data-img">
      </div>
      <ion-card-content>
        <p class="data-text-title">Lorem Ipsum is simply</p>
        <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="data-card">
      <div class="data-img-wrapper">
        <img src="assets/icon/kota.jpg" class="data-img">
      </div>
      <ion-card-content>
        <p class="data-text-title">Lorem Ipsum is simply</p>
        <p class="data-text-content">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-card-content>
    </ion-card>

</ion-content>