<ion-content>

  <ion-header class="header-section">
      <center> <ion-searchbar placeholder="Cari" color="secondary" showCancelButton="focus" class="searchbar">
      </ion-searchbar></center>
  </ion-header>

  <ion-segment scrollable class="tag-division">
  
    <ion-button tab="1" class="tag-btn-division">Software Engineering</ion-button>
    <ion-button tab="1" class="tag-btn-division">Design</ion-button>
    <ion-button tab="1" class="tag-btn-division">Operations</ion-button>
    <ion-button tab="1" class="tag-btn-division">Administrative</ion-button>
    <ion-button tab="1" class="tag-btn-division">Education</ion-button>
    <ion-button tab="1" class="tag-btn-division">Management</ion-button>
    <ion-button tab="1" class="tag-btn-division">Hospitality and travel</ion-button>
    <ion-button tab="1" class="tag-btn-division">Development / Sales</ion-button>
    <ion-button tab="1" class="tag-btn-division">Other</ion-button>
  
  </ion-segment>

</ion-content>
