<ion-header>
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navigation" href="/">Berita Disukai</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="news">
  <div class="img-news">
    <img src="assets/icon/news/news1.jpeg" class="news-img">
  </div>
  <ion-card-content>
    <p class="news-title">Covid 19</p>
    <p class="news-description"> Covid 19 adalah penyakit yang baik</p>
    <ion-anchor (click)="btnClick()">Hapus Favorit</ion-anchor>
  </ion-card-content>
</ion-card>


<ion-card class="news">
  <div class="img-news">
    <img src="assets/icon/news/news1.jpeg" class="news-img">
  </div>
  <ion-card-content>
    <p class="news-title">Covid 19</p>
    <p class="news-description"> Covid 19 adalah penyakit yang baik</p>
    <ion-anchor (click)="btnClick()">Hapus Favorit</ion-anchor>
  </ion-card-content>
</ion-card>


<ion-card class="news">
  <div class="img-news">
    <img src="assets/icon/news/news1.jpeg" class="news-img">
  </div>
  <ion-card-content>
    <p class="news-title">Covid 19</p>
    <p class="news-description"> Covid 19 adalah penyakit yang baik</p>
    <ion-anchor (click)="btnClick()">Hapus Favorit</ion-anchor>
  </ion-card-content>
</ion-card>


<ion-card class="news">
  <div class="img-news">
    <img src="assets/icon/news/news1.jpeg" class="news-img">
  </div>
  <ion-card-content>
    <p class="news-title">Covid 19</p>
    <p class="news-description"> Covid 19 adalah penyakit yang baik</p>
    <ion-anchor (click)="btnClick()">Hapus Favorit</ion-anchor>
  </ion-card-content>
</ion-card>

<ion-card class="news">
  <div class="img-news">
    <img src="assets/icon/news/news1.jpeg" class="news-img">
  </div>
  <ion-card-content>
    <p class="news-title">Covid 19</p>
    <p class="news-description"> Covid 19 adalah penyakit yang baik</p>
    <ion-anchor (click)="btnClick()">Hapus Favorit</ion-anchor>
  </ion-card-content>
</ion-card>

<ion-card class="news">
  <div class="img-news">
    <img src="assets/icon/news/news1.jpeg" class="news-img">
  </div>
  <ion-card-content>
    <p class="news-title">Covid 19</p>
    <p class="news-description"> Covid 19 adalah penyakit yang baik</p>
    <ion-anchor (click)="btnClick()">Hapus Favorit</ion-anchor>
  </ion-card-content>
</ion-card>



</ion-content>
