ion-header {
  z-index: 1;
}

.header-section{
  --background: linear-gradient(to bottom left, #3DBDCF, #55BF30);
  z-index: 1;
  color: white;
  text-align: center;
  border-radius: 0px 0px 100px 100px;
}

ion-content {
  position: absolute;
  --background: rgba(1,1,1,,0);
  z-index: 2;
}

ion-img{
  width: 20%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.profil-user{
  width: 72%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow:0px 1px 5px rgba(78,78,78,0.3);
}

ion-row{
  margin-top: 3px;
  margin-left: auto;
}

img{
  margin: 5px 5px 5px 0px;
  border-radius: 50px;
  height: auto;
  width: auto;
}


.img-user{
  max-width: 25%;
}

.data-user{
  max-width: 50%;
  overflow-x: hidden;
}


.status-user-profil{
  max-width: 25%;
}

.name-user{
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
  text-transform: capitalize;
}

.email-user{
  font-size: 12px;
  margin-bottom: 2px;
}

.phone-user{
  font-size: 10px;
}

.status-user{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  margin-top: 5px;
  right: 10px;
  color: #3DBDCF;
}

.info{
  margin-top: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
  background-color: #6fd3c2;
  border-radius: 10px;
  margin-bottom: 0px;
}

.info-data{
  position: absolute;
  transform: rotate(10deg);
  font-size: 6em;
  bottom: 0;
  right: 0;
  margin-bottom: -20px;
  margin-right: -20px;
  color: white;
  opacity: 0.3;
}

.title{
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
  display: block;
}
.info-class{
  position: absolute;
    right: 3px;
    top: 0px;
    color: white;
}


.description{
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
  display: block;
}

.icon-wrapper{
  padding: 0 5px 0 5px;
  margin-bottom: 20px;
}

.btn_info{
  color: #333;
  display: grid;
  height: 70px;
}

.data-icon-video{
  font-size: 55px;
}

.data-icon-news{
  font-size: 40px;
}

.data-icon-chat{
  font-size: 45px;

}
.data-icon-transfer{
  font-size: 45px;
}


.btn_info > ion-icon {
  position: absolute;
}

.btn_info > ion-label {
  position: relative;
  top: 30px;
}

.label{
  font-size: 10px;
  text-transform: capitalize;
}

.sedang-berlangsung-tittle {
  margin-left: 7%;
  font-size: 15px;
  font-weight: 700;
}

.serdang-berlangsung-border{
  margin-top: 2px;
  margin-left: 7%;
  background-color: #3DBDCF;
  height: 3px;
  width: 8%;
}

.sedang-berlangsung-wrapper{
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  position: relative;
  align-items: stretch;
  overflow-x: scroll;
}

.sedang-berlangsung-border{
  margin-top: 2px;
  margin-left: 7%;
  background-color: #3DBDCF;
  height: 3px;
  width: 8%;
}

.sedang-berlangsung-data{
  min-width: 300px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -4px rgba(2, 2, 2, 0.7);
}

.sedang-berlangsung-title{
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.sedang-berlangsung-description{
  font-size: 11px;
    text-align: justify;
    text-justify: inter-word;
}

.berita-terbaru-title{
  margin-left: 7%;
  font-size: 15px;
  font-weight: 700;
}



.berita-terbaru-border{
  margin-top: 2px;
  margin-left: 7%;
  background-color: #3DBDCF;
  height: 3px;
  width: 8%;
}

.tag-wrapper {
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.tag-btn {
  color: #7a7a7a;
  --background: white;
  text-transform: capitalize;
  font-size: 12px;
  min-width: 105px;
  height: 30px;
  padding: 0 10px 0 0;
  --border-radius: 8px;
  --box-shadow: 0px 0px 8px -4px rgba(2, 2, 2, 0.7);
}

.data-card{
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: none;
  background-color: rgba(1, 1, 1, 0);
}

.data-card > ion-card-content {
  padding: 10px 10px 10px 0;
  width: 60%;
}

.circle-wrapper {
  width: 40%;
}

.circle-progress {
  width: 40%;
}

.data-img-wrapper{
  overflow: hidden;
  margin: 4px 0px 0px 0px;
}

.data-img{
  height: 125px;
  width: 300px;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
  object-fit: cover;
}

.data-text-title{
  font-size: 14px;
    font-weight: 700;
    color: black;
}

.data-text-content{
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word;
}
