ion-icon{
    color: black;
  }
  
  ion-content{
    z-index: 1;
    position: absolute;
    --background: rgba(1, 1, 1, 0);
  }
  
  .header-section{
    padding-bottom: 2%;
    z-index: 10;
  }
  
  .navigation {
    --color: black;
    text-transform: capitalize;
  }
  