ion-icon{
    color: black;
  }
  
  ion-content{
    z-index: 1;
    position: absolute;
    --background: rgba(1, 1, 1, 0);
  }

  .header-section{
    padding-bottom: 0%;
    padding-top: 0%;
    z-index: 10;
  }
  
  .navigation {
    --color: black;
    text-transform: capitalize;
  }
  
.data-img-bckgrnd{
  margin-top: 70px;
  height: 150px;
  width: 400px;
  border-radius: 20px 20px 20px 20px; 
}

ion-chip{
  margin-top: 2%;
  margin-left:3%
}
.topic{
  background: linear-gradient(#3DBDCF, #55BF30);
  color: white;
}

.title-news{
  font-weight: bold;
  text-align: left;
  margin-left: 4%;
}

.img-profil{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 4%;
  float: left;
}

.profil-image{
  margin-left: 11%;
  margin-top: 0%;
  padding-top: 3px;
  padding-bottom: 0%;
  float: center;
  font-size: 11px;
}

.content-time{
  font-size: 12px;
  margin-left: 4%;
}

.icon-share{
  margin-left: 42%
}

.icon-eye{
margin-left: 5%
}

.icon-heart{
margin-left: 5%;

}

.icon-chat{
  margin-left: 5%;
}

.border{
  margin-top: 2px;
  margin-left: 2%;
  background-color:gray;
  height: 1px;
  width: 95%;
}

.news-information-main{
  font-size: 12px;
  margin-left: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.news-information-topic{
  font-size: 12px;
  margin-left: 2.5%;
  padding-bottom: 0%;
  padding-top: 0%;
}

.status-inside{
  position: absolute;
  width: 38%;
  height: 9%;
  right: 0;
  background: linear-gradient(#3DBDCF, #55BF30);
  color: white;
  border-radius: 25px 25px 25px 25px;
  margin-right: 18px;
}

.icon-heart-status{
  color: white;
  bottom:5px; 
  position: relative;
  z-index: 2;
  margin-left: 1px;
  
}

.icon-heart-chatbubbles{
  color: white;
  bottom:5px; 
  position: relative;
  z-index: 2;
  margin-left: 20px;
  padding-right: 50%;

}

.icon-heart-share{
  color: white;
  bottom:5px; 
  position: relative;
  z-index: 2;
  margin-left: 23px;
  padding-right: 60%;
}

.text-like{
  font-size: 10px;
  position: absolute;
  z-index: 1;
  top: 25px;
  margin-left: 2%;
  padding-right: 10%; 

}

.text-komentar{
  font-size: 10px;
  position: absolute;
  z-index: 1;
  top: 25px;
  margin-left: 6%;
  padding-right: 25%;
  
}

.text-bagikan{
  font-size: 10px;
  position: absolute;
  z-index: 1;
  top: 25px;
 margin-left: 13%;
 padding-right: 50%;
}

.container-ls{
  max-width: 25%;
}

.container.cs{
  max-width: 50%;
  overflow-x: hidden;
}

.container-rs{
  max-width: 25%;
}

.section-tags-news{
  margin-top: 11%;
}

.section-tags{
  font-size: 11px;
  font-weight: 400;
  padding-top:20% ;
  margin-left: 3%;
}

.tag-news{
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 3%;
  margin-right: 3%;
}

.tag-btn-news{
  color: black;
  --background: white;
  text-transform: capitalize;
  font-size: 12px;
  min-width: 90px;
  height: 28px;
  padding: 0 3px 0 0;
  --border-radius: 0px;
  --box-shadow: 0px 0px 8px -4px rgba(2, 3, 3, 0.7);
  border: 2px solid #3DBDCF
}

.section-information-news{
  margin-top: 10px;
}

.section-informations{
  font-size: 14px;
  font-weight: 400;
  padding-top: 20%;
  margin-left: 3%;
}

.section-informations-border{
  margin-top: 2px;
  margin-left: 3%;
  background: linear-gradient(#3DBDCF, #55BF30);
  height: 3px;
  width: 12%;
}

.tag-information-news{
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 3%;
  margin-right: 3%;

}

.new-card{
  color: black;
  --background: white;
  text-transform: capitalize;
  font-size: 12px;
  min-width: 90px;
  height: 75%;
  padding: 0 3px 0 0;
  --border-radius: 0px;
  --box-shadow: 0px 0px 8px -4px rgba(2, 3, 3, 0.7);
  border: 2px solid #3DBDCF;
  margin-left: 0%;
}

.new-card > ion-card-content{
  padding: 10px 10px 10px 0;
  width: 80%;
}

.new-img-wrapper{
  overflow: hidden;
  margin: 4px 0px 0px 0px;
}

.news-information-img{
  height: 125px;
  width: 400px;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
  object-fit: cover;
}


.img-news{
  
}

.title-news-informations{
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  margin-left: 13%;
}

.news-content-profile{

}

.news-img-profil{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 4%;
  float: left;
}

.news-profil-image{
  margin-right: 30%;
  margin-top: 0%;
  padding-top: 3px;
  padding-bottom: 0%;
  float: center;
  font-size: 11px;
}

.news-content-time{
  font-size: 12px;
  margin-right: 35%;
}

.content-information-news{
  margin-top: 10px;
}

.content-informations{
  font-size: 14px;
  font-weight: 400;
  padding-top: 20%;
  margin-left: 3%;
}

.content-informations-border{
  margin-top: 2px;
  margin-left: 3%;
  background: linear-gradient(#3DBDCF, #55BF30);
  height: 3px;
  width: 12%;
}

