<ion-header>
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navigation" href="/">Detail News</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-section">
    <center>
      <img src="assets/icon/news/news7.jpeg" class="data-img-bckgrnd">
    </center>
  </div>

  <ion-chip class="topic">
    <ion-label>Covid 19</ion-label>
  </ion-chip>

  <p class="title-news">Menanti Nasib PPKM Level 4 Usai Evaluasi Hati-Hati</p>

  <div class="section-profil-img">
    <img src="assets/icon/news/profil.jpg " class="img-profil">
    <p class="profil-image">Vidya Nathania</p>
    <h1 class="content-time">10 Menit yang Lalu
      <ion-icon class="icon-share" name="share" isActive="false"></ion-icon> 
      <ion-icon class="icon-eye" name="eye" isActive="false"></ion-icon> 
      <ion-icon class="icon-heart" name="heart" isActive="false"></ion-icon>
      <ion-icon class="icon-chat" name="chatbubbles" isActive="false"></ion-icon>
    </h1>
    <div class="border"></div>

    <h2 class="news-information-main">Jakarta - Masa perpanjangan PPKM level 4 berakhir hari ini. Keputusan resmi mengenai lanjut atau tidaknya PPKM level 4 bakal diumumkan pemerintah setelah melakukan evaluasi secara hati-hati.</h2>
    <h3 class="news-information-topic">Dalam rapat terbatas bersama para gubernur, Presiden Joko Widodo (Jokowi) sudah mewanti-wanti soal lonjakan kasus COVID-19 yang mulai bergeser ke luar Jawa dan Bali. 
      Jokowi meminta penanganan dilakukan secara cepat."Respons cepat, karena kelihatannya ini terjadi pergeseran lonjakan dari Jawa Bali menuju ke luar Jawa-Bali,
      " kata Jokowi dalam rapat yang disiarkan dalam YouTube Sekretariat Presiden, Sabtu (7/8).</h3>
    </div>
    
  <ion-chip class="status-inside">
    <div class="container-ls">
      <ion-icon  size="large" class="icon-heart-status" name="heart" isActive="false"></ion-icon>
      <p class="text-like">Suka</p>
    </div>
    <div class="container-cs">
      <ion-icon size="large" class="icon-heart-chatbubbles" name="chatbubbles" isActive="false"></ion-icon>
      <p class="text-komentar">Komentar</p>
    </div>
    <div class="container-rs">
      <ion-icon size="large" class="icon-heart-share" name="share" isActive="false"></ion-icon>
      <p class="text-bagikan">Bagikan</p>
    </div>
  </ion-chip>
   




</ion-content>
