ion-header {
  z-index: 1;
}

.header-section{
  --background: linear-gradient(to bottom left, #3DBDCF, #55BF30);
  z-index: 1;
  color: white;
  text-align: center;
  border-radius: 0px 0px 75px 75px;
}


ion-content {
  position: absolute;
  --background: rgba(1,1,1,,0);
  z-index: 2;
}

.data-img-bckgrnd{
  margin-top: 60px;
  height: 125px;
  width: 320px;
  border-radius: 20px 20px 20px 20px;
}

.icon-wrapper{
  padding: 0 5px 0 5px;
  margin-bottom: 20px;
}



.berita-terbaru-title{
  margin-left: 7%;
  font-size: 15px;
  font-weight: 700;
}

.tag-btn{
  color: white;
  --background: linear-gradient(to bottom left, #3DBDCF, #55BF30);
  margin-left: 20px
}

.tag-btn1{
  
  margin-left: 20px
}

  .card-view {
  margin-left: 14px;
  height: 25%;
  width: 25%;
}

.berita-terbaru-border{
  margin-top: 2px;
  margin-left: 7%;
  background-color: #3DBDCF;
  height: 3px;
  width: 8%;
}

.btn_info{
  color: #333;
  display: grid;
  height: 70px;
}

.data-icon-video{
  font-size: 55px;
}

.data-icon-news{
  font-size: 40px;
}

.data-icon-chat{
  font-size: 45px;

}
.data-icon-transfer{
  font-size: 45px;
}


.btn_info > ion-icon {
  position: absolute;
}

.btn_info > ion-label {
  position: relative;
  top: 30px;
}

.label{
  font-size: 10px;
  text-transform: capitalize;
}


.data-card{
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: none;
  background-color: rgba(1, 1, 1, 0);
}

.data-card > ion-card-content {
  padding: 10px 10px 10px 0;
}

.data-img-wrapper{
  overflow: hidden;
  margin: 4px 0px 0px 0px;
}

.data-img{
  height: 125px;
  width: 500px;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
  object-fit: cover;
}

.embed-responsive-item{

  border-radius: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
  object-fit: cover;
}

.data-text-title{
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 10px;
}

.data-text-content{
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 10px;
}
