ion-icon{
    color:black;
}

ion-content {
    z-index: 10;
    position: absolute;
    --background: rgba(1,1,1,0);
}

.navigation {
    --color: black;
    text-transform: capitalize;
}

.img-data{
    width: 65%;
    height: 65%;
    margin-top: 210px;
}