<ion-header>
  <ion-toolbar class="header-scrion">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navigation" href="">QR CODE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="img-qrcode">
  <center><img  class="img-data" src="assets/images/qrcode.JPG"> </center>
</div>
</ion-content>